<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
  
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  
	<display-name>webdemo</display-name>

	<listener>
    	<listener-class>com.niksoft.web.HttpSessionCollector</listener-class>
	</listener>

	<servlet>
		<servlet-name>qrcode</servlet-name>
		<servlet-class>com.niksoft.web.EncodeLoginTransaction</servlet-class>
		<init-param>
			<param-name>default-character-encoding</param-name>
			<param-value>Utf-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>qrcode</servlet-name>
		<url-pattern>/qrcode</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>qrcode_purchase</servlet-name>
		<servlet-class>com.niksoft.web.EncodePurchaseTransaction</servlet-class>
		<init-param>
			<param-name>default-character-encoding</param-name>
			<param-value>Utf-8</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>qrcode_purchase</servlet-name>
		<url-pattern>/qrcode_purchase</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthenticationValidator Servlet</servlet-name>
		<servlet-class>com.niksoft.web.AuthenticationValidator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticationValidator Servlet</servlet-name>
		<url-pattern>/authorized</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/api</param-value>
	</context-param>
	<context-param>
		<param-name>javax.ws.rs.Application</param-name>
		<param-value>com.niksoft.ws.ApplicationConfiguration</param-value>
	</context-param>
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
		<url-pattern>*.faces</url-pattern>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	
	<security-role>
		<role-name>users</role-name>
	</security-role>
		<security-role>
		<role-name>vendors</role-name>
	</security-role>
	<security-role>
		<role-name>manager</role-name>
	</security-role>
	
	<security-constraint>
		<display-name>Restrict direct access to XHTML files</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML files</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>public</web-resource-name>
			<url-pattern>/favicon.ico</url-pattern>
			<url-pattern>/images/*</url-pattern>
			<url-pattern>/scripts/*</url-pattern>
			<url-pattern>/login.html</url-pattern>
			<url-pattern>/qrcode</url-pattern>
			<url-pattern>/j_security_check</url-pattern>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/index.html</url-pattern>
			<url-pattern>/api/*</url-pattern>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login.html</form-error-page>
		</form-login-config>
	</login-config>

	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/error.html</location>
	</error-page>
	<error-page>
			<error-code>403</error-code>
			<location>/login.html</location>
	</error-page>
</web-app>
